@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:px-4 max-sm:py-2 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .control {
    @apply w-full rounded-sm bg-slate-200 px-2 py-1 outline-blue-800;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-title {
    @apply font-bold text-center text-4xl mb-4 max-sm:text-2xl;
  }
  .section-underline {
    @apply w-20 h-1 bg-black dark:bg-white mx-auto mb-10 relative;
  }
  .section-underline::before {
    content: "\25C9";
    position: absolute;
    top: -10.5px;
    left: -5px;
  }
  .section-underline::after {
    content: "\25C9";
    position: absolute;
    top: -10.5px;
    right: -5px;
  }
  .hero-pic {
    background: linear-gradient(135deg, lightblue, blue 50%, white 50%);
    background-size: 250%;
    background-position: 100% 100%;
  }
  .hero-pic:hover {
    background-position: 0 0;
  }
  .bar:before,
  .bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transition: 0.8s;
    margin-left: auto;
  }
  .skills {
    border: 4px solid transparent;
    transition: 0.5s;
    border-radius: 1.5rem;
  }
}

/*===== STYLES =====*/
.group:hover .overlay-bg {
  animation: spread 0.6s linear;
}
.info-container:hover .info {
  display: block;
}

.card-container::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px; /*half of the width*/
  z-index: 0;
}
.card-container .group:nth-child(even) {
  left: 50%;
}
.card-container .group:nth-child(odd) .card {
  margin-right: 40px;
}
.card-container .group:nth-child(even) .card {
  margin-left: 40px;
}

.card-container .group:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right-width: 15px;
}
.card-container .group:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
}
.card-container .circle {
  display: grid;
  place-items: center;
  top: 25px;
  z-index: 1;
}
.card-container .group:nth-child(odd) .circle {
  right: -15px;
}
.card-container .group:nth-child(even) .circle {
  left: -15px;
}
.card-container .circle span {
  display: grid;
  place-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  line-height: 0;
}
.photo-gallery img {
  height: 200px;
}
.card {
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

/*========== ANIMATION ========== */
@keyframes spread {
  0% {
    transform: scale(2);
  }
  70% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

.app-container {
  min-height: 100vh;
}

/*========== MEDIA QUERY ========== */
@media screen and (min-width: 700px) and (min-height: 1000px) {
  .app-container {
    min-height: auto;
  }
}
@media screen and (max-width: 850px) {
  .card-container::after {
    left: 0%;
  }
  .card-container .group:nth-child(even) {
    left: 0%;
  }
  .card-container .group:nth-child(odd) .card {
    margin-right: 0;
    margin-left: 40px;
  }
  .card-container .group:nth-child(odd):before {
    left: 25px;
    border-left-width: 0px;
    border-right-width: 15px;
  }
  .group:has(.card) {
    margin-bottom: 10px;
  }
  .card-container .group:nth-child(odd) .circle {
    left: -15px;
  }
}
@media screen and (max-width: 420px) {
  .card-container::after,
  .card-container .circle {
    display: none;
  }
  .card-container .group:nth-child(odd) .card,
  .card-container .group:nth-child(even) .card {
    margin-right: 0;
    margin-left: 0px;
  }
  .card-container .group:nth-child(odd):before,
  .card-container .group:nth-child(even):before {
    left: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .group:has(.card) {
    margin-bottom: 30px;
  }
  .card-container .group:nth-child(odd) .circle,
  .card-container .group:nth-child(even) .circle {
    left: 0px;
  }
}

/*===== SWIPER JS STYLES =====*/
.swiper-pagination {
  bottom: -5px;
}

.swiper-pagination-bullet {
  background-color: blue;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* project description */
.project-description h1,
.project-description h2,
.project-description h3,
.project-description h4,
.project-description h5,
.project-description h6 {
  margin-block: 10px;
  font-weight: bold;
}

.project-description li {
  list-style: auto;
  margin-left: 20px;
}
.project-description li::marker {
  font-weight: bold;
}
.project-description a:link {
  text-decoration: underline;
  color: blue;
}
.project-description a:visited {
  text-decoration: underline;
  color: blueviolet;
}
.project-description a:active {
  color: red;
}
